<!-- =============================================================================
     ANDROID MANIFEST DEEP LINK CONFIGURATION
     =============================================================================

     FILE LOCATION: android/app/src/main/AndroidManifest.xml

     Add this intent-filter INSIDE your main <activity> tag
     (the one with android:name=".MainActivity")

     ============================================================================= -->

<!-- ADD THIS INSIDE YOUR MAIN <activity> TAG -->

<intent-filter android:autoVerify="true">
    <action android:name="android.intent.action.VIEW" />
    <category android:name="android.intent.category.DEFAULT" />
    <category android:name="android.intent.category.BROWSABLE" />

    <!-- Main domain -->
    <data android:scheme="https" android:host="yoola.ug" />
</intent-filter>

<!-- Optional: Add www subdomain support -->
<intent-filter android:autoVerify="true">
    <action android:name="android.intent.action.VIEW" />
    <category android:name="android.intent.category.DEFAULT" />
    <category android:name="android.intent.category.BROWSABLE" />

    <data android:scheme="https" android:host="www.yoola.ug" />
</intent-filter>

<!-- Optional: Custom URL scheme (for fallback) -->
<intent-filter>
    <action android:name="android.intent.action.VIEW" />
    <category android:name="android.intent.category.DEFAULT" />
    <category android:name="android.intent.category.BROWSABLE" />

    <data android:scheme="yoola" android:host="open" />
</intent-filter>


<!-- =============================================================================
     FULL EXAMPLE OF HOW YOUR ACTIVITY SHOULD LOOK:
     ============================================================================= -->

<!--
<activity
    android:name=".MainActivity"
    android:exported="true"
    android:launchMode="singleTop"
    android:theme="@style/LaunchTheme"
    android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
    android:hardwareAccelerated="true"
    android:windowSoftInputMode="adjustResize">

    <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
    </intent-filter>

    <intent-filter android:autoVerify="true">
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="https" android:host="yoola.ug" />
    </intent-filter>

    <meta-data
        android:name="io.flutter.embedding.android.NormalTheme"
        android:resource="@style/NormalTheme" />
</activity>
-->
